@charset "utf-8";
/* CSS Document */
@import url('https://db.onlinewebfonts.com/c/74cb62d9f0ca957772a683219323facb?family=Osaka-Sans+Serif');
body{

    background-color: black;
}

.splash{

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #212529;
	z-index: 200;
}

.splash.display-none{
	overflow: hidden;
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #212529;
	z-index: -10;
}

h1{
    position:absolute;
    top:74vh;
    width:105vw;
    color:transparent;
    text-align:center;
    font-family: "Osaka-Sans Serif",'Poppins', sans-serif;
    animation:fadein 2s linear forwards;
    animation-delay:3.7s;
}

svg{
    position:absolute;
    top:7vh;
    height:96vh;
    left:7vw;
    width:96vw;
}

#border{
  stroke-dasharray: 1450;
  stroke-dashoffset: 1450;
  fill:none;
  animation: drawborder 4s linear forwards;
}

#bottom{
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: drawbottom 4s linear forwards;
}

#dp{
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: drawbottom 4s linear forwards;
}

#r{
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: drawbottom 4s linear forwards;
}

#i{
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: drawbottom 4s linear forwards;
}

#n{
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: drawbottom 4s linear forwards;
}

#c{
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: drawbottom 4s linear forwards;
}

#e{
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: drawbottom 4s linear forwards;
}

@keyframes fadein{
    to{
        color:#fff;
    }
}
@keyframes drawlogo{
    0%{
        fill:#ffffff00;
    }
    90%{
        fill:#ffffff00;
        stroke-dashoffset: 0;
    }
    100%{
        fill:white;
        stroke-dashoffset: 0;
    }
}
@keyframes drawborder{
    0%{
        fill:#00000000;
    }
    90%{
        stroke-dashoffset: 150;
        fill:#00000000;
    }
    100%{
        stroke-dashoffset: 0;
        fill:#ffffff44;
    }
}
@keyframes drawbottom{
    0%{
        fill:#00000000;
    }
    90%{
        stroke-dashoffset: 90;
        fill:#ffffff00;
    }
    100%{
        stroke-dashoffset: 0;
        fill:#ffffffff;
    }
}
